In [1]:
# Dependencies

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from config import (gkey)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
shootingdata = pd.read_csv("./Resources/shotspotterdata.csv")
shootingdata.head()

,ID,Type,Date,Time,Source,Lat (100),Lon (100)
0,5D69913,Multiple_Gunshots,1-Jan-17,0:00:06,WashingtonDC5D,38.909,-76.986
1,6D174826,Multiple_Gunshots,1-Jan-17,0:00:09,WashingtonDC6D,38.886,-76.951
2,4D58125,Multiple_Gunshots,1-Jan-17,0:00:12,WashingtonDC4D,38.950,-77.025
3,5D69915,Multiple_Gunshots,1-Jan-17,0:00:29,WashingtonDC5D,38.927,-76.974
4,4D58126,Multiple_Gunshots,1-Jan-17,0:00:36,WashingtonDC4D,38.943,-77.016

In [3]:
shootingdata = shootingdata.rename(columns={"Source": "Deparment", "Lat (100)": "latitude", "Lon (100)": "longitude"})
shootingdata.columns

Index(['ID', 'Type', 'Date', 'Time', 'Deparment', 'latitude', 'longitude'], dtype='object')

In [4]:
shootingdata.head()

,ID,Type,Date,Time,Deparment,latitude,longitude
0,5D69913,Multiple_Gunshots,1-Jan-17,0:00:06,WashingtonDC5D,38.909,-76.986
1,6D174826,Multiple_Gunshots,1-Jan-17,0:00:09,WashingtonDC6D,38.886,-76.951
2,4D58125,Multiple_Gunshots,1-Jan-17,0:00:12,WashingtonDC4D,38.950,-77.025
3,5D69915,Multiple_Gunshots,1-Jan-17,0:00:29,WashingtonDC5D,38.927,-76.974
4,4D58126,Multiple_Gunshots,1-Jan-17,0:00:36,WashingtonDC4D,38.943,-77.016

In [19]:

locations = shootingdata[['latitude', 'longitude']]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,  
                                 dissipating=False, max_intensity=1,
                                 point_radius = 0.004)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 0.004
heat_layer.point_radius = 0.004

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))